<div class="c-content-inner">
  <form #sysRoleForm="ngForm">
    <div class="modal-body row ">
      <label>{{roleEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">角色名称：</label>
        <input type="hidden" [(ngModel)]="sysRole.id" name="id">
        <input type="text" class="form-control col-md-7" [(ngModel)]="sysRole.roleName" name="roleName" placeholder="角色名称"
               [ngClass]="{'warn': !roleName.valid}" #roleName="ngModel" required="required">
      </div>
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">系统内置：</label>
        <select class="form-control col-md-7 " [(ngModel)]="sysRole.isSys" name="isSys"
                [ngClass]="{'warn': !isSys.valid}" #isSys="ngModel" required="required">
          <option value="">--请选择--</option>
          <option value="1">是</option>
          <option value="0">否</option>
        </select>
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">状态：</label>
        <select class="form-control col-md-7" [(ngModel)]="sysRole.status" name="status"
                [ngClass]="{'warn': !status.valid}" #status="ngModel" required="required">
          <option value="" >--请选择--</option>
          <option value="0">正常</option>
          <option value="1">删除</option>
          <option value="2">停用</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">备注：</label>
        <input type="text" class="form-control col-md-7 " name="remarks" [(ngModel)]="sysRole.remarks" placeholder="备注">
      </div>
    </div>
    <div class="row">
      <div class="op-btn">
        <button type="button" class="btn btn-success" [disabled]="!sysRoleForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
