<div class="c-content-inner">
  <form #employeeSummaryForm="ngForm">
    <div class="modal-body row">
      <label>{{employeeSummaryEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <input type="hidden" [(ngModel)]="employeeSummaryRequest.employeeSummary.id" name="id">
        <label class="col-md-4 col-form-label text-right float-left">部门：</label>
        <select #select [(ngModel)]="employeeSummaryRequest.employeeSummary.officeId" name="officeId">
          <option value="">--请选择部门--</option>
          <option *ngFor="let office of employeeSummaryRequest.sysCompanyOfficeList;" value="{{office.id}}" >{{office.officeName}}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">工种：</label>
          <select #select [(ngModel)]="employeeSummaryRequest.employeeSummary.workType" name="workType">
            <option value="">--请选择工种--</option>
            <option *ngFor="let sysPost of employeeSummaryRequest.SysPostList;" value="{{sysPost.id}}" >{{sysPost.postName}}</option>
          </select>
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">姓名：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.name" name="name">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">性别：</label>
        <input type="radio" value="0" [(ngModel)]="employeeSummaryRequest.employeeSummary.sex" name="sex">男
        <input type="radio" value="1" [(ngModel)]="employeeSummaryRequest.employeeSummary.sex" name="sex">女
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">年龄：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.age" name="age" placeholder="年龄">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">接噪工龄：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.contactTime" name="contactTime" placeholder="接噪工龄">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">体检日期：</label>
        <div class="input-group col-md-8">
          <input class="form-control" ngbDatepicker #d="ngbDatepicker" value="{{employeeSummaryRequest.employeeSummary.inspectDate}}" id="inspectDate" name="inspectDate" placeholder="体检日期">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="assets/img/calendar-icon.png"/>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">初检/复检：</label>
        <input type="radio" value="0" [(ngModel)]="employeeSummaryRequest.employeeSummary.inspect" name="inspect">初检
        <input type="radio" value="1" [(ngModel)]="employeeSummaryRequest.employeeSummary.inspect" name="inspect">复检
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">职业病危害因素：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.hazardFactor" name="hazardFactor" placeholder="职业病危害因素">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">收缩压：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.bloodPressureShrink" name="bloodPressureShrink" placeholder="收缩压">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">舒张压：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.bloodPressureDiastole"
               name="bloodPressureDiastole" placeholder="舒张压">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">心脏：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.heart"
               name="heart" placeholder="心脏">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">肺：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.lungs"
               name="lungs" placeholder="肺">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">皮肤粘膜：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.skinMucousMembrane"
               name="skinMucousMembrane" placeholder="皮肤粘膜">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">浅表淋巴结：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.lymphNode"
               name="lymphNode" placeholder="浅表淋巴结">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">甲状腺：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.thyroidGland"
               name="thyroidGland" placeholder="甲状腺">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">耳：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.ear"
               name="ear" placeholder="耳">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">白细胞×109/L ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.whiteBloodCell"
               name="whiteBloodCell" placeholder="白细胞×109/L">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">中性粒细胞计数×109/L ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.neutrophileGranulocyte"
               name="neutrophileGranulocyte" placeholder="中性粒细胞计数×109/L">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">红细胞计数×1012/L ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.redBloodCell"
               name="redBloodCell" placeholder="红细胞计数×1012/L">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">血色素g/L ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.hemoglobin"
               name="hemoglobin" placeholder="血色素g/L">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">血小板×109/L ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.platelet"
               name="platelet" placeholder="血小板×109/L ">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">白细胞（尿）：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.whiteBloodCellUrine"
               name="whiteBloodCellUrine" placeholder="白细胞（尿）">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">尿蛋白 ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.urineProtein"
               name="urineProtein" placeholder="尿蛋白 ">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">尿潜血：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.urineOccultBlood"
               name="urineOccultBlood" placeholder="尿潜血">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">尿糖 ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.urineSugar"
               name="urineSugar" placeholder="尿糖 ">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">ALTU/L ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.altuL"
               name="altuL" placeholder="ALTU/L">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">心电图 ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.electrocardiogram"
               name="electrocardiogram" placeholder="心电图">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl500L ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl500L"
               name="dbhl500L" placeholder="dbhl500L">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl1kL ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl1kL"
               name="dbhl1kL" placeholder="dbhl1kL">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl2kL ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl2kL"
               name="dbhl2kL" placeholder="dbhl2kL">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl3kL ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl3kL"
               name="dbhl3kL" placeholder="dbhl3kL">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl4kL ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl4kL"
               name="dbhl4kL" placeholder="dbhl4kL">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl6kL ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl6kL"
               name="dbhl6kL" placeholder="dbhl6kL">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl500R ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl500R"
               name="dbhl500R" placeholder="dbhl500R">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl1kR ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl1kR"
               name="dbhl1kR" placeholder="dbhl1kR">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl2kR ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl2kR"
               name="dbhl2kR" placeholder="dbhl2kR">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl3kR ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl3kR"
               name="dbhl3kR" placeholder="dbhl3kR">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl4kR ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl4kR"
               name="dbhl4kR" placeholder="dbhl4kR">
      </div>
      <div class="col-md-6">
        <label class="col-md-4 col-form-label text-right float-left">dbhl6kR ：</label>
        <input type="text" class="form-control col-md-8" [(ngModel)]="employeeSummaryRequest.employeeSummary.dbhl6kR"
               name="dbhl6kR" placeholder="dbhl6kR">
      </div>
    </div>
    <div class="row">
      <div class="op-btn">
        <button type="button" class="btn btn-success" [disabled]="!employeeSummaryForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>

