<div class="c-content-inner">
  <div class="modal-body row">
    <label>{{recordProductEditTitle}}</label>
    <button aria-label="Close" class="close" type="button" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">编码：</label>
      <input type="text" class="form-control" [(ngModel)]="recordProductInputRequest.recordProduct.productNo" placeholder="编码" >
    </div>
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">核实情况：</label>
      <input type="text" class="form-control" [(ngModel)]="recordProductInputRequest.recordProduct.verificationResult" placeholder="核实情况">
    </div>
  </div>
  <div class="row">
    <table>
      <tr>
        <td><button (click)="addOffice()">增加</button>车间/部门</td>
        <td>工艺过程</td>
        <td>类别（原料、辅料、中间产品、产品等）</td>
        <td>名称</td>
        <td>形态</td>
        <td>主要化学成分</td>
        <td>储存方式</td>
        <td>输送方式</td>
        <td>年用量或产量</td>
        <td>操作</td>
      </tr>
      <tr [(ngModel)]="recordProductInputRequest.recordProductDataList" *ngFor="let item of recordProductInputRequest.recordProductDataList;">
        <td>
          <select #select [(ngModel)]="item.companyOfficeId" >
            <option value="">--请选择部门--</option>
            <option *ngFor="let office of recordProductInputRequest.sysCompanyOfficeList;" value="{{office.id}}" >{{office.officeName}}</option>
          </select>
        </td>
        <td><input type="text" [(ngModel)]="item.processName"></td>
        <td><input type="text" [(ngModel)]="item.productType"></td>
        <td><input type="text" [(ngModel)]="item.productName"></td>
        <td><input type="text" [(ngModel)]="item.productShape"></td>
        <td><input type="text" [(ngModel)]="item.chemicalComposition"></td>
        <td><input type="text" [(ngModel)]="item.storageMode"></td>
        <td><input type="text" [(ngModel)]="item.transportMode"></td>
        <td><input type="text" [(ngModel)]="item.annualAmount"></td>
        <td><button (click)="delOffice(item)">删除</button></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <button (click)="submitData()">提交</button>
    <button (click)="close()">取消</button>
  </div>
</div>
