<div>
    <div class="modal-header">
      <label class="modal-title">部门管理</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul id="ztree" class="ztree"></ul>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success radius mr-10" (click)="addCompanyOffice()" ><i class="fa fa-plus fa-fw"></i>新&nbsp;&nbsp;增</button>
        <button type="button" class="btn btn-warning radius mr-10" (click)="editCompanyOffice()" ><i class="fa fa-edit fa-fw"></i>修&nbsp;&nbsp;改</button>
        <button type="button" class="btn btn-danger radius" (click)="delCompanyOffice()"><i class="fa fa-trash-o fa-fw"></i>删&nbsp;&nbsp;除</button>
      </div>
    </div>
</div>

