<div class="c-content-inner">
  <div class="row">
    <ul id="ztree" class="ztree"></ul>
  </div>
  <div class="row">
    <div class="op-btn">
      <button type="button" class="btn btn-success radius button-margin-right" (click)="addMenu()" ><i class="fa fa-plus fa-fw"></i>新&nbsp;&nbsp;增</button>
      <button type="button" class="btn btn-warning radius button-margin-right" (click)="editMenu()" ><i class="fa fa-edit fa-fw"></i>修&nbsp;&nbsp;改</button>
      <button type="button" class="btn btn-danger radius" (click)="delMenu()"><i class="fa fa-trash-o fa-fw"></i>删&nbsp;&nbsp;除</button>
    </div>
  </div>
</div>
