<div class="c-content-inner">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-right">菜单名称</label>
        <div class="col-md-8">
          <input type="text" class="form-control" (input)="param.menuName = $event.target.value" placeholder="请输入菜单名称..."/>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <button class="btn btn-primary" (click)="search();"><i class="fa fa-search fa-fw"></i> 查询</button>
        <button class="btn btn-primary" (click)="addMenu();"><i class="fa fa-search fa-fw"></i> 新增</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div #sdt=simpleDataTable appSimpleDataTable>
        <table width="100%">
          <tr>
            <th>菜单名称</th>
            <th>菜单类型</th>
            <th>链接</th>
            <th>图标</th>
            <th>颜色</th>
            <th>权限标识</th>
            <th>是否显示</th>
            <th>状态</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
          <tr *ngFor="let item of sdt.data;let i = index">
            <td>{{item.menuName}}</td>
            <td>{{item.menuType}}</td>
            <td>{{item.menuHref}}</td>
            <td>{{item.menuIcon}}</td>
            <td>{{item.menuColor}}</td>
            <td>{{item.permission}}</td>
            <td>{{item.isShow}}</td>
            <td>{{item.status | statusReform}}</td>
            <td>{{item.remarks}}</td>
            <td>
              <button type="button" (click)="editMenu(item.id)">修改</button>
              <button type="button" (click)="delMenu(item.id, item.menuName)">删除</button>
            </td>
          </tr>
        </table>
        <div class="c-mt15">
          <app-simple-data-http-page #sdhp [url]="url" [method]="method" [param]="param"></app-simple-data-http-page>
        </div>

      </div>

    </div>
  </div>
</div>
