<div class="c-content-inner">
  <form #sysUserForm="ngForm">
    <div class="modal-body row ">
      <label>{{userEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">用户名：</label>
        <input type="hidden" [(ngModel)]="sysUser.id" name="id">
        <input type="text" class="form-control col-md-7" [(ngModel)]="sysUser.userName" name="userName" placeholder="用户名"
               [ngClass]="{'warn': !userName.valid}" #userName="ngModel" required="required">
      </div>
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">登录名：</label>
        <input type="text" class="form-control col-md-7" [(ngModel)]="sysUser.loginCode" name="loginCode" placeholder="登录名"
               [ngClass]="{'warn': !loginCode.valid}" #loginCode="ngModel" required="required">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">密码：</label>
        <input type="password" class="form-control col-md-7" [(ngModel)]="sysUser.password" name="password" placeholder="密码"
               [ngClass]="{'warn': !password.valid}" #password="ngModel" required="required">
      </div>
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">管理员：</label>
        <select class="form-control col-md-7" [(ngModel)]="sysUser.mgrType" name="mgrType"
                [ngClass]="{'warn': !mgrType.valid}" #mgrType="ngModel" required="required">
          <option value=""></option>
          <option value="1">是</option>
          <option value="0">否</option>
        </select>
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">电话：</label>
        <input type="text" class="form-control col-md-7" [(ngModel)]="sysUser.mobile" name="mobile" placeholder="电话">
      </div>
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">邮箱：</label>
        <input type="text" class="form-control col-md-7" [(ngModel)]="sysUser.email" name="email" placeholder="邮箱">
      </div>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class="col-md-5 col-form-label text-right float-left">性别：</label>
        <select class="form-control col-md-7" [(ngModel)]="sysUser.sex" name="sex">
          <option value=""></option>
          <option value="1">女</option>
          <option value="0">男</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="op-btn">
        <button type="button" class="btn btn-success" [disabled]="!sysUserForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
