<div>
  <form #postPersonnelForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{recordPostPersonnelEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left label-title"><span style="color:red;">*</span>编码：</label>
          <input type="text" class="form-control col-md-7" [(ngModel)]="recordData.recordPostPersonnel.postPersonnelNo"
                 id="postPersonnelNo" [ngClass]="{'warn': !postPersonnelNo.valid}"
                 #postPersonnelNo="ngModel" required="required" maxlength="20" ngbTooltip="编码长度不大于20"
                 name="recordPostPersonnel.postPersonnelNo" pattern="^[a-zA-Z0-9_-]{0,20}$">
        </div>
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left label-title"><span style="color:red;">*</span>核实情况：</label>
          <input type="text" class="form-control col-md-7" [(ngModel)]="recordData.recordPostPersonnel.verificationResult"
                 id="verificationResult" [ngClass]="{'warn': !verificationResult.valid}"  name="recordPreEvaluation.verificationResult"
                 #verificationResult="ngModel" required="required" maxlength="100" ngbTooltip="核实情况长度不大于100">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding: 0px 15px;">
          <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
            <tr>
              <th width="25%" rowspan="2">车间/部门</th>
              <th width="19%" rowspan="2">工种/岗位</th>
              <th width="30%" colspan="3">工作制度</th>
              <th width="20%" colspan="2">定员（人）</th>
              <th width="6%" rowspan="2"><button class="btn btn-success" (click)="addOffice();"><i class="fa fa-plus fa-fw"></i></button></th>
            </tr>
            <tr>
              <th width="10%">天/周</th>
              <th width="10%">班/天</th>
              <th width="10%">小时/班</th>
              <th width="10%">每班</th>
              <th width="10%">总定员</th>
            </tr>
            <tr *ngFor="let item of recordData.recordPostPersonnelDataList;let recordIndex=index;"  >
              <td>
                <input type="text" [(ngModel)]="item.companyOfficeId" name="item{{recordIndex}}.officeId" style="display: none" required="required">
                <app-company-office-dropdown [companyId]="companyId" [officeId]="item.companyOfficeId" [treeSeq]="recordIndex" (onDataChanged)="onDataChanged($event)"></app-company-office-dropdown>
              </td>
              <td >
                <select class="form-control" #select [(ngModel)]="item.postId" name="item{{recordIndex}}.postId"
                        #postId_recordIndex="ngModel" required="required" [ngClass]="{'warn': !postId_recordIndex.valid}">
                  <option value="">--请选择岗位--</option>
                  <option *ngFor="let post of sysPostList;" value="{{post.id}}" >{{post.dictionaryName}}</option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.dayOfWeek" name="item{{recordIndex}}.dayOfWeek"
                       #dayOfWeek_recordIndex="ngModel" required="required" [ngClass]="{'warn': !dayOfWeek_recordIndex.valid}"
                        pattern="^[1-7]$" ngbTooltip="每周天数1-7">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.classOfDate" name="item{{recordIndex}}.classOfDate"
                       #classOfDate_recordIndex="ngModel" required="required" [ngClass]="{'warn': !classOfDate_recordIndex.valid}"
                       pattern="^[1-9]{1,2}$" ngbTooltip="每天班数1-99">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.hourOfClass" name="item{{recordIndex}}.hourOfClass"
                       #hourOfClass_recordIndex="ngModel" required="required" [ngClass]="{'warn': !hourOfClass_recordIndex.valid}"
                       pattern="^[1-9]{1,2}$" ngbTooltip="每班小时数1-99">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.perShift" name="item{{recordIndex}}.perShift"
                       #perShift_recordIndex="ngModel" required="required" [ngClass]="{'warn': !perShift_recordIndex.valid}"
                       pattern="^[1-9]+$" ngbTooltip="每班大于0">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.totalNumber" name="item{{recordIndex}}.totalNumber"
                       #totalNumber_recordIndex="ngModel" required="required" [ngClass]="{'warn': !totalNumber_recordIndex.valid}"
                       pattern="^[1-9]+$" ngbTooltip="总定员大于0">
              </td>
              <td><button type="button" class="btn btn-danger radius" (click)="delOffice(item)"><i class="fa fa-trash-o fa-fw"></i></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right" [disabled]="!postPersonnelForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
