<div class="c-content-inner">
  <form #postPersonnelForm="ngForm">
    <div class="modal-body row ">
      <label>{{recordPostPersonnelEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="row list">
      <div class="col-md-6">
        <label class=" col-form-label text-right float-left label-title">编码：</label>
        <input type="text" class="form-control col-md-6" [(ngModel)]="recordData.recordPostPersonnel.postPersonnelNo"
               id="postPersonnelNo" [ngClass]="{'warn': !postPersonnelNo.valid}"
               #postPersonnelNo="ngModel" required="required" maxlength="20"
               name="recordPostPersonnel.postPersonnelNo" placeholder="编码" >
      </div>
      <div class="col-md-6">
        <label class=" col-form-label text-right float-left label-title">核实情况：</label>
        <input type="text" class="form-control col-md-6" [(ngModel)]="recordData.recordPostPersonnel.verificationResult"
               id="verificationResult" [ngClass]="{'warn': !verificationResult.valid}"  name="recordPreEvaluation.verificationResult"
               #verificationResult="ngModel" required="required" maxlength="100"
               name="recordPostPersonnel.verificationResult" placeholder="核实情况">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding: 0px 15px;">
        <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
          <tr>
            <th>车间/部门</th>
            <th>工种/岗位</th>
            <th>天/周</th>
            <th>班/天</th>
            <th>小时/班</th>
            <th>每班</th>
            <th>总定员</th>
            <th>操作<button class="btn btn-success" (click)="addOffice();"><i class="fa fa-plus fa-fw"></i></button></th>
          </tr>
          <tr *ngFor="let item of recordData.recordPostPersonnelDataList;let i=index;"  >
            <td>
              <input type="hidden" [(ngModel)]="item.companyOfficeId" name="item{{i}}.companyOfficeId">
              <input type="text" class="fir-inp" [(ngModel)]="item.officeName" name="item{{i}}.officeName" readonly>
              <button class="btn btn-primary" (click)="searchEmployeeOffice(i);">查询</button>
            </td>
            <td width="20px;">
              <select #select [(ngModel)]="item.postId" name="item{{i}}.postId">
                <option value="">--请选择岗位--</option>
                <option *ngFor="let post of sysPostList;" value="{{post.id}}" >{{post.postName}}</option>
              </select>
            </td>
            <td><input type="number" [(ngModel)]="item.dayOfWeek" name="item{{i}}.dayOfWeek"></td>
            <td><input type="number" [(ngModel)]="item.classOfDate" name="item{{i}}.classOfDate"></td>
            <td><input type="number" [(ngModel)]="item.hourOfClass" name="item{{i}}.hourOfClass"></td>
            <td><input type="number" [(ngModel)]="item.perShift" name="item{{i}}.perShift"></td>
            <td><input type="number" [(ngModel)]="item.totalNumber" name="item{{i}}.totalNumber"></td>
            <td><button type="button" class="btn btn-danger radius" (click)="delOffice(item)"><i class="fa fa-trash-o fa-fw"></i></button></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="op-btn">
        <button type="button" class="btn btn-success" [disabled]="!postPersonnelForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
