<div class="col-md-12">
  <h6>表 职工档案信息</h6>
  <table width="100%" border="1">
    <tr>
      <th>姓名</th>
      <td>{{sysEmpoiyeeRequest.sysEmployee.empName}}</td>
      <th>性别</th>
      <td>{{sysEmpoiyeeRequest.sysEmployee.empSex | sexReform}}</td>
      <th colspan="2" rowspan="5">照片</th>
    </tr>
    <tr>
      <th>籍贯</th>
      <td>{{sysEmpoiyeeRequest.sysEmployee.empNative}}</td>
      <th>婚姻</th>
      <td>{{sysEmpoiyeeRequest.sysEmployee.empMarriage}}</td>
    </tr>
    <tr>
      <th>参加工作时间</th>
      <td colspan="3">{{sysEmpoiyeeRequest.sysEmployee.empWorkDate}}</td>
    </tr>
    <tr>
      <th>身份证号</th>
      <td colspan="3">{{sysEmpoiyeeRequest.sysEmployee.empIdentityNumber}}</td>
    </tr>
  </table>
  <table width="100%" border="1">
    <tr>
      <th colspan="5">职业史及职业病危害接触史</th>
    </tr>
    <tr>
      <th>起止时间</th>
      <th>工作单位</th>
      <th>工种</th>
      <th>噪声检测结果</th>
      <th>防护措施</th>
    </tr>
    <tr *ngFor="let item of sysEmpoiyeeRequest.sysEmployeeJobList;let i = index">
      <td>{{item.beginDate}}<br>{{item.endDate}}</td>
      <td>{{item.companyName}}</td>
      <td>{{item.workType}}</td>
      <td>{{item.noiseDetectionResults}}</td>
      <td>{{item.protectiveMeasures}}</td>
    </tr>
  </table>
  <table width="100%" border="1">
    <tr>
      <th colspan="5">既往病史</th>
    </tr>
    <tr>
      <th>疾病名称</th>
      <th>诊断时间</th>
      <th>诊断医院</th>
      <th>治疗结果</th>
      <th>备注</th>
    </tr>
    <tr *ngFor="let item of sysEmpoiyeeRequest.sysEmployeeCaseList;let i = index">
      <td>{{item.caseName}}</td>
      <td>{{item.diagnosisDate}}</td>
      <td>{{item.diagnosisHospital}}</td>
      <td>{{item.treatmentResults}}</td>
      <td>{{item.remarks}}</td>
    </tr>
  </table>
  <table width="100%" border="1">
    <tr>
      <th colspan="5">职业病诊断</th>
    </tr>
    <tr>
      <th>职业病名称</th>
      <th>诊断时间</th>
      <th>诊断医院</th>
      <th>诊断级别</th>
      <th>备注</th>
    </tr>
    <tr *ngFor="let item of sysEmpoiyeeRequest.sysEmployeeDiseaseList;let i = index">
      <td>{{item.diseaseName}}</td>
      <td>{{item.diagnosisDate}}</td>
      <td>{{item.diagnosisHospital}}</td>
      <td>{{item.diagnosisLevel}}</td>
      <td>{{item.remarks}}</td>
    </tr>
  </table>
</div>

<div class="c-content-inner">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <button type="button" (click)="close()">关闭</button>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
