<div class="c-content-inner">
  <div class="modal-body row">
    <label>{{recordPreEvaluationEditTitle}}</label>
    <button aria-label="Close" class="close" type="button" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">编码：</label>
      <input type="text" class="form-control" [(ngModel)]="recordControlEffectRequest.recordControlEffect.preEvaluationNo" placeholder="编码" >
    </div>
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">核实情况：</label>
      <input type="text" class="form-control" [(ngModel)]="recordControlEffectRequest.recordControlEffect.verificationResult" placeholder="核实情况">
    </div>
  </div>
  <div class="row">
    <table>
      <tr>
        <td>调查项目</td>
        <td>调查结果</td>
        <td>备注</td>
      </tr>
      <tr *ngFor="let item of recordControlEffectRequest.recordControlEffectDataList;">
        <td>{{item.projectName}}</td>
        <td><input type="text" [(ngModel)]="item.surveyResults"></td>
        <td><input type="text" [(ngModel)]="item.remarks"></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <button (click)="submitData()">提交</button>
    <button (click)="close()">取消</button>
  </div>
</div>
