<div class="c-content-inner">
  <div class="row">
    <ul id="ztree" class="ztree"></ul>
  </div>
  <div class="row">
    <div class="op-btn">
      <button type="button" class="btn btn-success" (click)="addCatalog()" ><i class="fa fa-plus fa-fw"></i>新&nbsp;&nbsp;增</button>
      <button type="button" class="btn btn-warning" (click)="editCatalog()" ><i class="fa fa-edit fa-fw"></i>修&nbsp;&nbsp;改</button>
      <button type="button" class="btn btn-danger" (click)="delCatalog()"><i class="fa fa-trash-o fa-fw"></i>删&nbsp;&nbsp;除</button>
    </div>
  </div>
</div>
