<div class="c-content-inner" style="padding-top: 15px!important;">
  <div class="row">
    <div class="col-md-4">
      <label class="col-md-4 col-form-label text-right float-left">编码：</label>
      <label>{{recordSceneRequest.recordScene.recordNo}}</label>
    </div>
    <div class="col-md-4">
      <label class="col-md-4 col-form-label text-right float-left">项目名称：</label>
      <label>{{recordSceneRequest.recordScene.projectName}}</label>
    </div>
    <div class="col-md-4">
      <label class="col-md-4 col-form-label text-right float-left">调查类型：</label>
      <label>{{recordSceneRequest.recordScene.inquiryTypeName}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label class="col-md-4 col-form-label text-right float-left">调查对象：</label>
      <label>{{recordSceneRequest.recordScene.inquiryCompanyName}}</label>
    </div>
    <div class="col-md-4">
      <label class="col-md-4 col-form-label text-right float-left">调查人：</label>
      <label>{{recordSceneRequest.recordScene.inquiryPerson}}</label>
    </div>
    <div class="col-md-4">
      <label class="col-md-4 col-form-label text-right float-left">调查日期：</label>
      <label>{{recordSceneRequest.recordScene.inquiryDate}}</label>
    </div>
  </div>
  <div class="row row-margin-bottom">
    <div class="col-md-4">
      <label class="col-md-4 col-form-label text-right float-left">陪同人：</label>
      <label>{{recordSceneRequest.recordScene.inquiryCompanyEmployeeName}}</label>
    </div>
  </div>
  <div class="row" style="padding: 10px;">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
      <tr>
        <th>序号</th>
        <th>职业卫生调查内容</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of recordSceneRequest.recordScenQuestionnaireList; let i = index">
        <td *ngIf="item.generatorRecord == 1">{{i+1}}</td>
        <td *ngIf="item.generatorRecord == 1">{{item.questionnaireName}}</td>
        <td *ngIf="item.generatorRecord == 1">
          <button *ngIf="item.editStatus == '1'" class="btn btn-warning radius mr-10" type="button" (click)="openRecordEdit(item.questionnaireId)">
            <i class="fa fa-edit fa-fw"></i>编辑
          </button>
          <button *ngIf="item.editStatus == '0'" class="btn btn-danger radius mr-10" type="button" (click)="openRecordEdit(item.questionnaireId)">
            <i class="fa fa-pencil fa-fw"></i>填写
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
