*{

}
.col-md-5,.col-md-7,.col-md-4,.col-md-12{
  padding: 0px;
  color: #333;
}
label{
  line-height: 20px;
}
.col-md-6{
  padding-left: 0px;
  padding-right: 8px;
  margin-bottom: 10px;
  color: #333;
}
.list input,.list select{
  height: 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 4px;
  border-color: #ced4da;
  color: #333;
}
table th,table td{
  text-align: center;
}
.op-btn{
  text-align: center;
  width: 100%;
}
.op-btn button{
  padding: 4px 20px;
  margin-right: 25px;
  font-size: 16px;
  border-radius: 6px;
}
.c-content-inner{
  padding-top: 0px!important;
}
.modal-body{
  margin: -1px -16px 10px -16px;
  padding: 5px 10px;
  color: #fff;
  position: relative;
  background-color: #56a36c;
}
.close{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px!important;
  font-weight: normal!important;
}
.close span{
  color: #fff;
}
