<div>
  <form #informingFacilitiesForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{recordInformingFacilitiesEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>编码：</label>
          <input type="text" class="form-control col-md-6" [(ngModel)]="recordData.recordInformingFacilities.informingFacilitiesNo"
                 name="recordInformingFacilities.informingFacilitiesNo"
                 #informingFacilitiesNo="ngModel" required="required" maxlength="20" pattern="^[a-zA-Z0-9_-]{0,20}$"
                 [ngClass]="{'warn': !informingFacilitiesNo.valid}" ngbTooltip="编码长度不大于20">
        </div>
        <div class="col-md-6">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>核实情况：</label>
          <input type="text" class="form-control col-md-6" [(ngModel)]="recordData.recordInformingFacilities.verificationResult"
                 name="recordInformingFacilities.verificationResult"
                 #verificationResult="ngModel" required="required" maxlength="50"
                 [ngClass]="{'warn': !verificationResult.valid}" ngbTooltip="核实情况长度不大于50">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding: 0px 15px;">
          <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
            <tr>
              <th>车间/部门</th>
              <th>工艺过程</th>
              <th>职业病危害因素</th>
              <th>危害告知设施设置情况(告知卡、警示线、警示标识、公告栏等）</th>
              <th>设置地点</th>
              <th>备注</th>
              <th><button class="btn btn-success" (click)="addRecord();"><i class="fa fa-plus fa-fw"></i></button></th>
            </tr>
            <tr *ngFor="let item of recordData.recordInformingFacilitiesDataList;let recordIndex=index;"  >
              <td>
                <input type="hidden" [(ngModel)]="item.companyOfficeId" name="item{{recordIndex}}.companyOfficeId">
                <input type="text" class="form-control col-md-7" style="display:inline;" [(ngModel)]="item.officeName" name="item{{recordIndex}}.officeName" readonly
                       [ngClass]="{'warn': !officeName_recordIndex.valid}" #officeName_recordIndex="ngModel" required="required">
                <button class="btn btn-primary" (click)="searchEmployeeOffice(recordIndex);">查询</button>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="item.processName" name="item{{recordIndex}}.processName"
                         ngbTooltip="工艺过程长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.hazardFactors" name="item{{recordIndex}}.hazardFactors"
                         ngbTooltip="职业病危害因素长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.informingFacilities" name="item{{recordIndex}}.informingFacilities"
                         ngbTooltip="危害告知设施长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.settingPlace" name="item{{recordIndex}}.settingPlace"
                         ngbTooltip="设置地点长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.remarks" name="item{{recordIndex}}.remarks"
                         ngbTooltip="备注长度不大于50" maxlength="50"></td>
              <td><button type="button" class="btn btn-danger radius" (click)="delRecord(recordIndex)"><i class="fa fa-trash-o fa-fw"></i></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right" [disabled]="!informingFacilitiesForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
