<div class="c-content-inner">
  <div class="modal-body row">
    <label>{{recordSceneEditTitle}}</label>
    <button aria-label="Close" class="close" type="button" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">编码：</label>
      <input type="text" class="form-control" [(ngModel)]="recordSceneRequest.recordScene.recordNo" placeholder="编码">
    </div>
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">项目名称：</label>
      <input type="text" class="form-control" [(ngModel)]="recordSceneRequest.recordScene.projectName" placeholder="项目名称">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">调查类型：</label>
      <select class="form-control" [(ngModel)]="recordSceneRequest.recordScene.inquiryType">
        <option value="">请选择</option>
        <option value="0">预评价</option>
        <option value="1">类比</option>
        <option value="2">控制效果评价</option>
        <option value="3">现状评价</option>
      </select>
    </div>
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">调查对象：</label>
      <select #select [(ngModel)]="recordSceneRequest.recordScene.inquiryCompany" (change)="changeCompany(select.value)">
        <option value="">--请选择单位--</option>
        <option *ngFor="let item of companyData;" value="{{item.id}}" >{{item.companyName}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">调查人：</label>
      <input type="text" class="form-control" [(ngModel)]="recordSceneRequest.recordScene.inquiryPerson" placeholder="调查人">
    </div>
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">用人单位陪同人签字：</label>
      <select [(ngModel)]="recordSceneRequest.recordScene.inquiryCompanyEmployee" >
        <option value="">--请选择陪同人--</option>
        <option *ngFor="let item of employeeData;" value="{{item.id}}" >{{item.empName}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="col-md-5 col-form-label text-right">调查日期：</label>
      <input type="text" class="form-control" [(ngModel)]="recordSceneRequest.recordScene.inquiryDate" placeholder="调查日期">
    </div>
  </div>
  <div class="row">
    <table>
      <tr>
        <td>序号</td>
        <td>职业卫生调查内容</td>
        <td>采用调查表</td>
      </tr>
      <tr *ngFor="let item of recordSceneRequest.recordScenQuestionnaireList; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.questionnaireName}}</td>
        <td>
          <input type="checkbox" id="checkbox-{{item.questionnaireId}}">
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" (click)="addEditSubmit()">确定</button>
      <button type="button" (click)="close()">取消</button>
    </div>
  </div>
</div>
