<div class="c-content-inner">
  <div class="row">
    <div class="col-md-4">
      <label class="col-form-label float-left text-right">角色名称：</label>
      <input type="text" class="form-control input-pro col-md-8 float-left" [(ngModel)]="param.roleName" >
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary mr-10" (click)="search();"><i class="fa fa-search fa-fw"></i> 查询</button>
      <button class="btn btn-success" (click)="addRole();"><i class="fa fa-plus fa-fw"></i> 新增</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div #sdt=simpleDataTable appSimpleDataTable>
        <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
          <tr>
            <th>角色名称</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
          <tr *ngFor="let item of sdt.data;">
            <td>{{item.roleName}}</td>
            <td>{{item.remarks}}</td>
            <td>
              <button type="button" class="btn btn-info radius mr-10" (click)="editRoleMenu(item.id)"><i class="fa fa-gears fa-fw"></i>分配菜单</button>
              <button type="button" class="btn btn-info radius mr-10" (click)="editRoleKnowledgeCatalog(item.id)"><i class="fa fa-gears fa-fw"></i>分配知识库目录</button>
              <button type="button" class="btn btn-warning radius mr-10" (click)="editRole(item.id)"><i class="fa fa-edit fa-fw"></i>修改</button>
              <button type="button" class="btn btn-danger radius" (click)="delRole(item.id, item.roleName)"><i class="fa fa-trash-o fa-fw"></i>删除</button>
            </td>
          </tr>
        </table>
        <div class="c-mt15">
          <app-simple-data-http-page #sdhp [url]="url" [method]="method" [param]="param"></app-simple-data-http-page>
        </div>
      </div>
    </div>
  </div>
</div>
