<div class="c-content-inner">
  <div class="row row-margin-bottom">
    <div class="col-md-4">
      <label class="col-form-label float-left text-right">项目名称：</label>
      <input type="text" class="form-control input-pro col-md-8 float-left" [(ngModel)]="param.projectName" >
    </div>
    <div class="col-md-4">
      <label class="col-form-label float-left text-right">项目编号：</label>
      <input type="text" class="form-control input-pro col-md-8 float-left" [(ngModel)]="param.recordNo" >
    </div>
    <div class="col-md-4">
      <label class="col-form-label float-left text-right">调查日期：</label>
      <div class="input-group col-md-7">
        <input class="form-control" ngbDatepicker #d="ngbDatepicker" value="{{param.inquiryDate}}" id="inquiryDate" name="inquiryDate" readonly>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="assets/img/calendar-icon.png"/>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label class="col-form-label float-left text-right">调&nbsp;&nbsp;查&nbsp;&nbsp;人：</label>
      <input type="text" class="form-control input-pro col-md-8 float-left" [(ngModel)]="param.inquiryPerson" >
    </div>
    <div class="col-md-4">
      <label class="col-form-label float-left text-right">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份：</label>
      <input type="text" class="form-control input-pro col-md-8 float-left" [(ngModel)]="param.inquiryYear" >
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary mr-10" (click)="search();"><i class="fa fa-search fa-fw"></i> 查询</button>
      <button class="btn btn-success" (click)="addScene();"><i class="fa fa-plus fa-fw"></i> 新增</button>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title"></p>
    </div>
  </div>
  <div class="row table-row">
    <div class="col-md-12">

      <div #sdt=simpleDataTable appSimpleDataTable>
        <table class="table table-bordered table-hover table-list" width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>年份</th>
              <th>调查对象</th>
              <th>项目名称</th>
              <th>编号</th>
              <th>调查人</th>
              <th>陪同人</th>
              <th>调查日期</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of sdt.data;let i = index">
              <td>{{item.inquiryYear}}</td>
              <td>{{item.inquiryCompanyName}}</td>
              <td>{{item.projectName}}</td>
              <td>{{item.recordNo}}</td>
              <td>{{item.inquiryPerson}}</td>
              <td>{{item.inquiryCompanyEmployeeName}}</td>
              <td>{{item.inquiryDate}}</td>
              <td>
                <button class="btn btn-warning radius mr-10" type="button" (click)="editScene(item.id)"><i class="fa fa-edit fa-fw"></i>修改</button>
                <button class="btn btn-danger radius mr-10" type="button" (click)="delScene(item.id, item.recordNo)"><i class="fa fa-trash-o fa-fw"></i>删除</button>
                <button class="btn btn-info radius" type="button" (click)="detailScene(item.id, item.recordNo)"><i class="fa fa-crosshairs fa-fw"></i>详情</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="c-mt15">
          <app-simple-data-http-page #sdhp [url]="url" [method]="method" [param]="param"></app-simple-data-http-page>
        </div>

      </div>

    </div>
  </div>

