<div>
  <form #workplaceNoiseForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{workplaceNoiseEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left"><span style="color:red;">*</span>检查日期：</label>
          <div class="input-group col-md-7" style="padding-left: 0px; padding-right: 0px;">
            <input class="form-control" ngbDatepicker #dp="ngbDatepicker" value="{{recordWorkplaceNoise.inspectDate}}"
                   id="inspectDate" name="inspectDate" readonly    required="required">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                <img src="assets/img/calendar-icon.png"/>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left" for="companyId"><span style="color:red;">*</span>公司：</label>
          <select class="form-control col-md-7" [(ngModel)]="recordWorkplaceNoise.companyId" name="companyId" id="companyId"
                  [ngClass]="{'warn': !companyId.valid}" #companyId="ngModel" required="required" (ngModelChange)="changeCompany()">
            <option value="">--请选择--</option>
            <option *ngFor="let company of companyList;" value="{{company.id}}" >{{company.companyName}}</option>
          </select>
        </div>
      </div>
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left" for="contactTime"><span style="color:red;">*</span>接触时间：</label>
          <input type="text" class="form-control col-md-7"  name="contactTime" id="contactTime"  [(ngModel)]="recordWorkplaceNoise.contactTime" required="required"
                 pattern="^([1-9]\d*|0)(\.\d{1,2})?$" maxlength="10"  [ngClass]="{'warn': !contactTime.valid}"  #contactTime="ngModel" ngbTooltip="请输入数字格式数据" >
        </div>
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left" for="workTypeId"><span style="color:red;">*</span>工种：</label>
          <input type="hidden" [(ngModel)]="recordWorkplaceNoise.workTypeId" name="workTypeId" id="workTypeId" required>
          <div class="col-md-7" style="float: left;padding-left: 0px;padding-right: 0px;">
            <app-work-type-dropdown #acod [companyId]="recordWorkplaceNoise.companyId" [workTypeId]="recordWorkplaceNoise.workTypeId"
                                    [treeSeq]="0" (onDataChanged)="onDataChanged($event)"></app-work-type-dropdown>
          </div>
        </div>
      </div>
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left" for="checkPlace"><span style="color:red;">*</span>检查位置：</label>
          <input type="text" class="form-control col-md-7"  name="checkPlace" id="checkPlace"   [(ngModel)]="recordWorkplaceNoise.checkPlace"
                 [ngClass]="{'warn': !checkPlace.valid}" #checkPlace="ngModel" required="required" maxlength="100"  ngbTooltip="长度小于100个字符">
        </div>
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left" for="analysisResult"><span style="color:red;">*</span>是否噪声作业：</label>
          <select class="form-control col-md-7"  name="decisionResult" id="analysisResult"
                  [ngClass]="{'warn': !analysisResult.valid}" #analysisResult="ngModel"
                  required="required" [(ngModel)]="recordWorkplaceNoise.analysisResult">
            <option value="">请选择</option>
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
        </div>

      </div>
      <div class="row row-margin-bottom">

        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left" for="soundLevel"><span style="color:red;">*</span>等效声级：</label>
          <input type="text" class="form-control col-md-7"  name="soundLevel" id="soundLevel"  [(ngModel)]="recordWorkplaceNoise.soundLevel" required="required"
                 pattern="^([1-9]\d*|0)(\.\d{1,2})?$" maxlength="10"  [ngClass]="{'warn': !soundLevel.valid}"  #soundLevel="ngModel" ngbTooltip="请输入数字格式数据" placeholder="8h（或40h）等效声级[dB(A)]">
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right"  [disabled]="!workplaceNoiseForm.form.valid"  (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
