<div>
  <form #equipemntLayoutForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{recordEquipmentLayoutEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left"><span style="color:red;">*</span>编码：</label>
          <input type="text" class="form-control col-md-6" [(ngModel)]="recordData.recordEquipmentLayout.equipmentLayoutNo" name="recordEquipmentLayout.equipmentLayoutNo"
                 #equipmentLayoutNo="ngModel" required="required" maxlength="20" pattern="^[a-zA-Z0-9_-]{0,20}$"
                 [ngClass]="{'warn': !equipmentLayoutNo.valid}" ngbTooltip="编码长度不大于20">
        </div>
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left"><span style="color:red;">*</span>核实情况：</label>
          <input type="text" class="form-control col-md-6" [(ngModel)]="recordData.recordEquipmentLayout.verificationResult" name="recordEquipmentLayout.verificationResult"
                 #verificationResult="ngModel" required="required" maxlength="50" ngbTooltip="核实情况长度不大于50"
                 [ngClass]="{'warn': !verificationResult.valid}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding: 0px 15px;">
          <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
            <tr>
              <th>车间/部门</th>
              <th>工艺过程及设备</th>
              <th>职业病危害因素</th>
              <th>布局情况</th>
              <th>备注</th>
              <th><button class="btn btn-success" (click)="addOffice();"><i class="fa fa-plus fa-fw"></i></button></th>
            </tr>
            <tr *ngFor="let item of recordData.recordEquipmentLayoutDataList;let recordIndex=index;"  >
              <td>
                <input type="hidden" [(ngModel)]="item.officeId" name="item{{recordIndex}}.officeId">
                <input type="text" class="form-control col-md-7" style="display:inline;" [(ngModel)]="item.officeName" name="item{{recordIndex}}.officeName" readonly
                       [ngClass]="{'warn': !officeName_recordIndex.valid}" #officeName_recordIndex="ngModel" required="required">
                <button class="btn btn-primary" (click)="searchEmployeeOffice(recordIndex);">查询</button>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="item.processAndEquipment" name="item{{recordIndex}}.processAndEquipment"
                         ngbTooltip="工艺过程及设备长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.hazardFactors" name="item{{recordIndex}}.hazardFactors"
                         ngbTooltip="职业病危害因素长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.layoutDetail" name="item{{recordIndex}}.layoutDetail"
                         ngbTooltip="布局情况长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.remarkds" name="item{{recordIndex}}.remarkds"
                         ngbTooltip="备注长度不大于50" maxlength="50"></td>
              <td><button type="button" class="btn btn-danger radius" (click)="delOffice(item)"><i class="fa fa-trash-o fa-fw"></i></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right" [disabled]="!equipemntLayoutForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
