<script src="employee-manage.component.ts"></script>
<div class="c-content-inner">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-right">职工姓名：</label>
        <div class="col-md-8">
          <input type="text" class="form-control" (input)="param.empName = $event.target.value" placeholder="请输入职工姓名...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <button class="btn btn-primary" (click)="search();"><i class="fa fa-search fa-fw"></i> 查询</button>
        <button class="btn btn-primary" (click)="addEmployee();"><i class="fa fa-search fa-fw"></i> 新增</button>
      </div>
    </div>
    <div class="col-md-12">
      <p class="c-line-title"></p>
    </div>
    <div class="col-md-12">
      <div #sdt=simpleDataTable appSimpleDataTable>
        <table width="100%">
          <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>籍贯</th>
            <th>婚姻</th>
            <th>文化程度</th>
            <th>嗜好</th>
            <th>参加工作时间</th>
            <th>身份证号码</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <tr *ngFor="let item of sdt.data;let i = index">
            <td>{{item.empName}}</td>
            <td>{{item.empSex | sexReform}}</td>
            <td>{{item.empNative}}</td>
            <td>{{item.empMarriage}}</td>
            <td>{{item.empEducation}}</td>
            <td>{{item.empHobby}}</td>
            <td>{{item.empWorkDate}}</td>
            <td>{{item.empIdentityNumber}}</td>
            <td>{{item.status | statusReform}}</td>
            <td>
              <button type="button" (click)="selectEmployeeInfo(item.id)">详情</button>
              <button type="button" (click)="editEmployee(item.id)">修改</button>
              <button type="button" (click)="delEmployee(item.id, item.empName)">删除</button>
            </td>
          </tr>
        </table>
        <div class="c-mt15">
          <app-simple-data-http-page #sdhp [url]="url" [method]="method" [param]="param"></app-simple-data-http-page>
        </div>
      </div>
    </div>
  </div>
</div>
