<div>
  <form #vddEquipmentForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{recordVddEquipmentEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>编码：</label>
          <input type="text" class="form-control col-md-6" [(ngModel)]="recordData.recordVddEquipment.vddEquipmentNo" name="recordVddEquipment.vddEquipmentNo"
                 #vddEquipmentNo="ngModel" required="required" maxlength="20" pattern="^[a-zA-Z0-9_-]{0,20}$"
                 [ngClass]="{'warn': !vddEquipmentNo.valid}" ngbTooltip="编码长度不大于20">
        </div>
        <div class="col-md-6">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>核实情况：</label>
          <input type="text" class="form-control col-md-6" [(ngModel)]="recordData.recordVddEquipment.verificationResult" name="recordVddEquipment.verificationResult"
                 #verificationResult="ngModel" required="required" maxlength="50"
                 [ngClass]="{'warn': !verificationResult.valid}" ngbTooltip="核实情况长度不大于50">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding: 0px 15px;">
          <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
            <tr>
              <th>车间/部门</th>
              <th>工种/岗位</th>
              <th>作业地点</th>
              <th>毒物或粉尘名称</th>
              <th>通风排毒除尘设施名称</th>
              <th>数量</th>
              <th>运行维护情况</th>
              <th><button class="btn btn-success" (click)="addOffice();"><i class="fa fa-plus fa-fw"></i></button></th>
            </tr>
            <tr *ngFor="let item of recordData.recordVddEquipmentDataList;let recordIndex=index;"  >
              <td>
                <input type="text" [(ngModel)]="item.officeId" name="item{{recordIndex}}.officeId" style="display: none" required="required">
                <app-company-office-dropdown [companyId]="companyId" [officeId]="item.officeId" [treeSeq]="recordIndex" (onDataChanged)="onDataChanged($event)"></app-company-office-dropdown>
              </td>
              <td>
                <select #select class="form-control" [(ngModel)]="item.postId" name="item{{recordIndex}}.postId"
                        [ngClass]="{'warn': !postId_recordIndex.valid}" #postId_recordIndex="ngModel" required="required">
                  <option value="">--请选择岗位--</option>
                  <option *ngFor="let post of sysPostList;" value="{{post.id}}" >{{post.dictionaryName}}</option>
                </select>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="item.workPlace" name="item{{recordIndex}}.workPlace"
                         ngbTooltip="作业地点长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.poisonOrDustName" name="item{{recordIndex}}.poisonOrDustName"
                         ngbTooltip="毒物或粉尘名称长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.vddEquipmentName" name="item{{recordIndex}}.vddEquipmentName"
                         ngbTooltip="设施名称长度不大于50" maxlength="50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.number" name="item{{recordIndex}}.number" ngbTooltip="填写非负整数"
                         [ngClass]="{'warn': !number_recordIndex.valid}" #number_recordIndex="ngModel" pattern="^[0-9]*$"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.operationAndMaintenance" name="item{{recordIndex}}.operationAndMaintenance"
                         ngbTooltip="运行维护情况长度不大于50" maxlength="50"></td>
              <td><button type="button" class="btn btn-danger radius" (click)="delOffice(recordIndex)"><i class="fa fa-trash-o fa-fw"></i></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right" [disabled]="!vddEquipmentForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
