<div class="c-content-inner">
  <div class="modal-body row ">
    <label>{{sysEmployeeTitle}}</label>
    <button aria-label="Close" class="close" type="button" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="row" style="padding: 10px;">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
      <tr>
        <th>序号</th>
        <th>陪同人姓名</th>
        <th>选择</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of sysEmployeeRequest.sysEmployeeList; let i = index" >
        <td>{{i+1}}</td>
        <td>{{item.empName}}</td>
        <td>
          <input type="checkbox" id="checkbox-{{item.id}}" (click)="updateSelection(item)"  >
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="op-btn">
      <button type="button" class="btn btn-success" (click)="submitData()">确&nbsp;&nbsp;定</button>
      <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
    </div>
  </div>
</div>
