<div>
  <form #buildingBaseForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{recordAuxiliaryHealthEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>编码：</label>
          <input type="text" class="form-control col-md-8" [(ngModel)]="recordData.recordAuxiliaryHealth.auxiliaryHealthNo" name="recordAuxiliaryHealth.auxiliaryHealthNo"
                 #auxiliaryHealthNo="ngModel" required="required" maxlength="20" pattern="^[a-zA-Z0-9_-]{0,20}$"
                 [ngClass]="{'warn': !auxiliaryHealthNo.valid}" ngbTooltip="编码长度不大于20">
        </div>
        <div class="col-md-6">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>核实情况：</label>
          <input type="text" class="form-control col-md-8" [(ngModel)]="recordData.recordAuxiliaryHealth.verificationResult" name="recordAuxiliaryHealth.verificationResult"
                 #verificationResult="ngModel" required="required" maxlength="50"
                 [ngClass]="{'warn': !verificationResult.valid}" ngbTooltip="核实情况长度不大于50">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding: 0px 15px;">
          <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
            <tr>
              <th>车间/部门</th>
              <th>工作场所办公室（控制室、办公室）</th>
              <th>车间/部门卫生用室(浴室、存/更衣室、盥洗室、洗衣房)</th>
              <th>生活用室（休息室、食堂、厕所等）</th>
              <th><button class="btn btn-success" (click)="addRecord();"><i class="fa fa-plus fa-fw"></i></button></th>
            </tr>
            <tr *ngFor="let item of recordData.recordAuxiliaryHealthDataList;let recordIndex=index;"  >
              <td>
                <input type="text" [(ngModel)]="item.officeId" name="item{{recordIndex}}.officeId" style="display: none" required="required">
                <app-company-office-dropdown [companyId]="companyId" [officeId]="item.officeId" [treeSeq]="recordIndex" (onDataChanged)="onDataChanged($event)"></app-company-office-dropdown>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="item.workPlace" name="item{{recordIndex}}.workPlace" maxlength="50" ngbTooltip="工作场所长度不大于50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.hygienicRoom" name="item{{recordIndex}}.hygienicRoom" maxlength="50" ngbTooltip="卫生用室长度不大于50"></td>
              <td><input type="text" class="form-control" [(ngModel)]="item.livingRoom" name="item{{recordIndex}}.livingRoom" maxlength="50" ngbTooltip="生活用室长度不大于50"></td>
              <td><button type="button" class="btn btn-danger radius" (click)="delRecord(recordIndex)"><i class="fa fa-trash-o fa-fw"></i></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right" [disabled]="!buildingBaseForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
