<div>
  <form #presentSituationForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{recordPresentSituationEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left"><span style="color:red;">*</span>编码：</label>
          <input type="text" class="form-control col-md-7" [(ngModel)]="recordData.recordPresentSituation.preEvaluationNo"
                 id="preEvaluationNo" [ngClass]="{'warn': !preEvaluationNo.valid}"
                 #preEvaluationNo="ngModel" required="required" maxlength="20"
                 name="recordPreEvaluation.preEvaluationNo" pattern="^[a-zA-Z0-9_-]{0,20}$" ngbTooltip="编码长度不大于20">
        </div>
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left"><span style="color:red;">*</span>核实情况：</label>
          <input type="text" class="form-control col-md-7" [(ngModel)]="recordData.recordPresentSituation.verificationResult"
                 id="verificationResult" [ngClass]="{'warn': !verificationResult.valid}"  name="recordPreEvaluation.verificationResult"
                 #verificationResult="ngModel" required="required" maxlength="100" ngbTooltip="核实情况长度不大于100">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding: 0px 15px;">
          <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
            <tr>
              <th>调查项目</th>
              <th>调查结果</th>
              <th>备注</th>
            </tr>
            <tr *ngFor="let item of recordData.recordPresentSituationDataList;let recordIndex = index;">
              <td>{{item.projectName}}</td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.surveyResults" name="item{{recordIndex}}.surveyResults"
                       required="required" maxlength="100"  ngbTooltip="调查项目长度不大于100"
                       [ngClass]="{'warn': !surveyResult_recordIndex.valid}" #surveyResult_recordIndex="ngModel">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.remarks" name="item{{recordIndex}}.remarks"
                       ngbTooltip="调查结果长度不大于100" maxlength="100">

              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right" [disabled]="!presentSituationForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
