<div class="c-content-inner">
  <div class="modal-body row">
    <label>{{recordPostPersonelEditTitle}}</label>
    <button aria-label="Close" class="close" type="button" (click)="close()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">编码：</label>
        <div class="col-md-7">
          <input type="text" class="form-control" [(ngModel)]="recordPostPersonnelRequest.recordPostPersonnel.postPersonnelNo" placeholder="编码">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">核实情况：</label>
        <div class="col-md-7">
          <input type="text" class="form-control" [(ngModel)]="recordPostPersonnelRequest.recordPostPersonnel.verificationResult" placeholder="核实情况">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button (click)="addOffice()">增加</button>
    <button (click)="submitData()">提交</button>
    <table>
      <tr>
        <td rowspan="2">车间/部门</td>
        <td rowspan="2">工种/岗位</td>
        <td colspan="3">工作制度</td>
        <td colspan="2">定员（人）</td>
      </tr>
      <tr>
        <td>天/周</td>
        <td>班/天</td>
        <td>小时/班</td>
        <td>每班</td>
        <td>总定员</td>
      </tr>
      <tr *ngFor="let item of recordPostPersonnelRequest.recordPostPersonnelDataList">
        <td><input [(ngModel)]="item.id" ></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
