<div class="c-content-inner">
  <div class="row">
    <div class="col-md-4">
      <label class="col-form-label float-left text-right">姓名：</label>
      <input type="text" class="form-control input-pro col-md-8 float-left" [(ngModel)]="param.userName" >
    </div>
    <div class="col-md-4">
      <label class="col-form-label float-left text-right">登录账号：</label>
      <input type="text" class="form-control input-pro col-md-8 float-left" [(ngModel)]="param.loginCode" >
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary mr-10" (click)="search();"><i class="fa fa-search fa-fw"></i> 查询</button>
      <button class="btn btn-success" (click)="addUser();"><i class="fa fa-plus fa-fw"></i> 新增</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div #sdt=simpleDataTable appSimpleDataTable>
        <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
          <tr>
            <th>用户名称</th>
            <th>登录账号</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>性别</th>
            <th>操作</th>
          </tr>
          <tr *ngFor="let item of sdt.data;">
            <td>{{item.userName}}</td>
            <td>{{item.loginCode}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.email}}</td>
            <td>{{item.sex | sexReform}}</td>
            <td>
              <button type="button" class="btn btn-info radius mr-10" [hidden]="item.id == 1" (click)="editUserRole(item.id)"><i class="fa fa-gears fa-fw"></i>分配角色</button>
              <button type="button" class="btn btn-warning radius mr-10" [hidden]="item.id == 1" (click)="editUser(item.id)"><i class="fa fa-edit fa-fw"></i>修改</button>
              <button type="button" class="btn btn-danger radius" [hidden]="item.id == 1" (click)="delUser(item.id, item.userName)"><i class="fa fa-trash-o fa-fw"></i>删除</button>
            </td>
          </tr>
        </table>
        <div class="c-mt15">
          <app-simple-data-http-page #sdhp [url]="url" [method]="method" [param]="param"></app-simple-data-http-page>
        </div>
      </div>
    </div>
  </div>
</div>
