<div class="c-content-inner">
  <form [formGroup]="editPasswordForm">
    <div class="modal-body row">
      <label>密码修改</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label class="col-md-3 col-form-label text-right float-left">旧密码：</label>
        <input class="form-control col-md-8" type="password" formControlName="oldPassword" [(ngModel)]="user.oldPassword" placeholder="旧密码">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label class="col-md-3 col-form-label text-right float-left">新密码：</label>
        <input class="form-control col-md-8" type="password" formControlName="newPassword" [(ngModel)]="user.newPassword" placeholder="新密码">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label class="col-md-3 col-form-label text-right float-left">确认密码：</label>
        <input class="form-control col-md-8" type="password" formControlName="newPasswordAgain" [(ngModel)]="user.newPasswordAgain" placeholder="确认密码">
      </div>
    </div>
    <div class="form-group row" *ngIf="editPasswordError">
      <div class="col-12">
        <label class="">{{editPasswordError}}</label>
      </div>
    </div>
    <div class="row">
      <div class="op-btn">
        <button type="button" class="btn btn-success" (click)="editPassword()">提交</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
