<div>
  <form #editPasswordForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">密码修改</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row row-margin-bottom">
        <div class="col-12">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>旧密码：</label>
          <input class="form-control col-md-8" type="password" [(ngModel)]="user.oldPassword" name="oldPassword"
                 [ngClass]="{'warn': !oldPassword.valid}" #oldPassword="ngModel" required="required">
        </div>
      </div>
      <div class="row row-margin-bottom">
        <div class="col-12">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>新密码：</label>
          <input class="form-control col-md-8" type="password" [(ngModel)]="user.newPassword" name="newPassword"
                 [ngClass]="{'warn': !newPassword.valid}" #newPassword="ngModel" required="required" minlength="6" maxlength="100" pattern="^[a-zA-Z0-9_\-+=!]{0,100}$" ngbTooltip="密码长度大于6个字符，小于20个字符。">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>确认密码：</label>
          <input class="form-control col-md-8" type="password" [(ngModel)]="user.newPasswordAgain" name="newPasswordAgain"
                 [ngClass]="{'warn': !newPasswordAgain.valid || user.newPasswordAgain != user.newPassword}" #newPasswordAgain="ngModel" required="required" minlength="6" maxlength="100" pattern="^[a-zA-Z0-9_\-+=!]{0,100}$" ngbTooltip="密码长度大于6个字符，小于20个字符。">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right" [disabled]="!editPasswordForm.form.valid" (click)="editPassword()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
