<div class="c-content-inner">
  <form [formGroup]="userEditFormGroup">
    <div class="modal-body row">
      <label>{{userEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-5 col-form-label text-right">用户名：</label>
          <div class="col-md-7">
            <input type="hidden" formControlName="id">
            <input type="text" class="form-control" formControlName="userName" placeholder="用户名">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-5 col-form-label text-right">登录名：</label>
          <div class="col-md-7">
            <input type="text" class="form-control" formControlName="loginCode" placeholder="登录名">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-5 col-form-label text-right">电话：</label>
          <div class="col-md-7">
            <input type="text" class="form-control" formControlName="mobile" placeholder="电话">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-5 col-form-label text-right">邮箱：</label>
          <div class="col-md-7">
            <input type="text" class="form-control" formControlName="email" placeholder="邮箱">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-5 col-form-label text-right">密码：</label>
          <div class="col-md-7">
            <input type="text" class="form-control" formControlName="password" placeholder="密码">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-5 col-form-label text-right">管理员类型：</label>
          <div class="col-md-7">
            <select class="form-control" formControlName="mgrType">
              <option value=""></option>
              <option value="1">是</option>
              <option value="0">否</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <button type="button" (click)="userEditSubmit()">确定</button>
        <button type="button" (click)="close()">取消</button>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </form>
</div>
