<div>
  <form #sysNoticeForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{noticeEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label class="col-md-3 col-form-label text-right float-left"><span style="color:red;">*</span>标题：</label>
          <input type="hidden" [(ngModel)]="sysNotice.id" name="id">
          <input type="text" class="form-control col-md-8" [(ngModel)]="sysNotice.noticeTitle" name="noticeTitle"
                 [ngClass]="{'warn': !noticeTitle.valid}" #noticeTitle="ngModel" required="required" maxlength="20" ngbTooltip="长度小于20个字符。">
        </div>
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left">发布时间：</label>
          <div class="input-group col-md-8">
            <input class="form-control" ngbDatepicker #d="ngbDatepicker" value="{{sysNotice.noticeReleaseDate}}" id="noticeReleaseDate" name="noticeReleaseDate"
              readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <img src="assets/img/calendar-icon.png"/>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-6">
            <label class="col-md-3 col-form-label text-right float-left">内容：</label>
          </div>
        </div>
      </div>
      <quill-editor [style]="{height: '300px'}" #editor (onContentChanged)="contentChanged($event)"></quill-editor>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right" [disabled]="!sysNoticeForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
