<div>
  <form #sysNoticeForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{noticeEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <h3 style="text-align:center;width: 100%;">{{sysNotice.noticeTitle}}</h3>
      </div>
      <div id="noticeContent">
      </div>
    </div>
  </form>
</div>
