<div>
  <form #healthCareForm="ngForm">
    <div class="modal-header">
      <label class="modal-title">{{recordHealthCareEditTitle}}</label>
      <button aria-label="Close" class="close" type="button" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row row-margin-bottom">
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left"><span style="color:red;">*</span>编码：</label>
          <input type="text" class="form-control col-md-7" [(ngModel)]="recordData.recordHealthCare.healthCareNo" name="recordHealthCare.healthCareNo"
                 #healthCareNo="ngModel" required="required" maxlength="20" pattern="^[a-zA-Z0-9_-]{0,20}$"
                 [ngClass]="{'warn': !healthCareNo.valid}" ngbTooltip="编码长度不大于20">
        </div>
        <div class="col-md-6">
          <label class="col-md-4 col-form-label text-right float-left"><span style="color:red;">*</span>核实情况：</label>
          <input type="text" class="form-control col-md-7" [(ngModel)]="recordData.recordHealthCare.verificationResult" name="recordHealthCare.verificationResult"
                 #verificationResult="ngModel" required="required" maxlength="50"
                 [ngClass]="{'warn': !verificationResult.valid}" ngbTooltip="核实情况长度不大于50">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding: 0px 15px;">
          <table width="100%" class="table table-bordered table-hover table-list" cellpadding="0" cellspacing="0">
            <tr>
              <th>调查项目</th>
              <th>调查结果</th>
              <th>备注</th>
            </tr>
            <tr *ngFor="let item of recordData.recordHealthCareDataList;let recordIndex = index;">
              <td>{{item.projectName}}</td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.surveyResults" name="item{{recordIndex}}.surveyResults" maxlength="50"
                       [ngClass]="{'warn': !surveyResults_recordIndex.valid}" #surveyResults_recordIndex="ngModel" required="required"
                       ngbTooltip="调查结果长度不大于50">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="item.remarks" name="item{{recordIndex}}.remarks" maxlength="50"
                       ngbTooltip="备注长度不大于50">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="op-btn">
        <button type="button" class="btn btn-success button-margin-right" [disabled]="!healthCareForm.form.valid" (click)="submitData()" >确&nbsp;&nbsp;定</button>
        <button type="button" class="btn btn-outline-success" (click)="close()">取&nbsp;&nbsp;消</button>
      </div>
    </div>
  </form>
</div>
