<div class="c-nav" c-custom-scrollbar>
  <ul  class="c-sidebar-menu">
    <li  *ngFor="let item of data">
      <a  (click)="itemClicked(item);">
        <i style="margin-top:3px;width:17px" class="fa  pull-right"  [ngClass]="{'fa-angle-down': !isLeaf(item) && item.isExpend, 'fa-angle-left': !isLeaf(item) && !item.isExpend}"></i>
        <i class="fa " [ngClass]="item.icon"></i> <span>{{item.name}}</span>
      </a>
      <app-treeview-menu [data]="item"></app-treeview-menu>
    </li>
  </ul>
</div>
