body,html{
  background-color: #fff;
}
.table-list th,.table-list td{
  text-align: center;
}
.table-list th{
  background-color: #4682B4;
  color: #fff;
}
.radius{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.mr-10{
  margin-right: 10px!important;
}
.table-row{
  padding: 15px 0px;
  background-color: #fff;
}

.table-outframe{
  overflow-x: auto;
  width: 85%;
  thead{
    height: 123px!important;
  }
  tr{
    height: 40.8px;
  }
  th{
    white-space:nowrap; 
    vertical-align: middle;
  }
  td{
    vertical-align: middle;
    white-space: nowrap;
    box-sizing: border-box;
  }
}
.table-op-outline{
  width: 100%;
  position: relative;
}

.opDiv{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15%;
  padding-left: 2px;
  background-color: #fff;
  padding-bottom: 24px;
  box-sizing: border-box;
  height: 100%;
  ul{
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    // background-color: #DEE2E6;
    li.op-title{
      width: 100%;
      height: 123px;
      text-align: center;
      line-height: 127px;
      background-color: #4682B4;
      color: #fff;
    }
    li.op-li{
      border-bottom: 1px solid #DEE2E6;
      border-right: 1px solid #DEE2E6;
      border-left: 1px solid #DEE2E6;
      text-align: center;
      padding-top: 2px;
      height: 40.8px;
      box-sizing: border-box;
      button.btn-warning{
        margin-right: 3px;
      }
    }
  }
}
.hidden{
  display: none;
}